*{
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
}
.addbook-container{
    display:flex;
    flex-direction: column;
    width:1000px;
    justify-content: center;
    align-items:center;
    margin: auto;
    row-gap: 30px;
    margin-top: 50px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.input-controll input{
   width:500px;
   height: 35px;
}
 .submit-btn{
    width: 500px;
    height: 35px;
    cursor: pointer;
}